body{
    text-align:center;
}
.image{
    width:50%;
}
.image2{
    width:50%;
    margin:20px;
}
.image3{
    width: 50%;
    margin:20px;
}
.image4{
    width: 50%;
    margin:20px;
}
.image5{
    width:30%;
    margin:20px;
}
.image6{
    width:30%;
    margin:20px;
}